---
import { Image } from "astro:assets";
---

<div class="relative overflow-x-hidden py-8">
  <div
    class="pointer-events-none absolute inset-y-0 left-0 w-32 bg-gradient-to-r from-[var(--background)] to-transparent z-20"
  >
  </div>
  <div
    class="pointer-events-none absolute inset-y-0 right-0 w-32 bg-gradient-to-l from-[var(--background)] to-transparent z-20"
  >
  </div>
  <div class="flex animate-scroll hover:animate-paused gap-12 md:gap-20 w-max">
    <div class="flex items-center gap-2 group transition-all duration-300">
      <Image
        src="/svg/astro.svg"
        alt="astro"
        class="h-7 w-auto object-contain transition-transform group-hover:scale-110 opacity-60 light-logo"
        width={30}
        height={30}
      />
      <span class="text-lg font-medium text-[var(--white-icon)]"> Astro </span>
    </div><div
      class="flex items-center gap-2 group transition-all duration-300"
    >
      <Image
        src="/svg/react.svg"
        alt="react"
        class="h-7 w-auto object-contain transition-transform group-hover:scale-110 opacity-60"
        width={30}
        height={30}
      />
      <span class="text-lg font-medium text-[var(--white-icon)]"> React </span>
    </div><div
      class="flex items-center gap-2 group transition-all duration-300"
    >
      <Image
        src="/svg/typeScript.svg"
        alt="typeScript"
        class="h-7 w-auto object-contain transition-transform group-hover:scale-110 opacity-60"
        width={30}
        height={30}
      />
      <span class="text-lg font-medium text-[var(--white-icon)]">
        TypeScript
      </span>
    </div><div
      class="flex items-center gap-2 group transition-all duration-300"
    >
      <Image
        src="/svg/tailwindcss.svg"
        alt="tailwindcss"
        class="h-7 w-auto object-contain transition-transform group-hover:scale-110 opacity-60"
        width={30}
        height={30}
      />
      <span class="text-lg font-medium text-[var(--white-icon)]">
        Tailwindcss
      </span>
    </div><div
      class="flex items-center gap-2 group transition-all duration-300"
    >
      <Image
        src="/svg/nodejs.svg"
        alt="nodejs"
        class="h-7 w-auto object-contain transition-transform group-hover:scale-110 opacity-60"
        width={30}
        height={30}
      />
      <span class="text-lg font-medium text-[var(--white-icon)]"> Nodejs </span>
    </div><div
      class="flex items-center gap-2 group transition-all duration-300"
    >
      <Image
        src="/svg/HTML5.svg"
        alt="HTML5"
        class="h-7 w-auto object-contain transition-transform group-hover:scale-110 opacity-60"
        width={30}
        height={30}
      />
      <span class="text-lg font-medium text-[var(--white-icon)]"> HTML5 </span>
    </div><div
      class="flex items-center gap-2 group transition-all duration-300"
    >
      <Image
        src="/svg/CSS3.svg"
        alt="CSS3"
        class="h-7 w-auto object-contain transition-transform group-hover:scale-110 opacity-60"
        width={30}
        height={30}
      />
      <span class="text-lg font-medium text-[var(--white-icon)]"> CSS3 </span>
    </div><div
      class="flex items-center gap-2 group transition-all duration-300"
    >
      <Image
        src="/svg/javaScript.svg"
        alt="javaScript"
        class="h-7 w-auto object-contain transition-transform group-hover:scale-110 opacity-60"
        width={30}
        height={30}
      />
      <span class="text-lg font-medium text-[var(--white-icon)]">
        JavaScript
      </span>
    </div><div
      class="flex items-center gap-2 group transition-all duration-300"
    >
      <Image
        src="/svg/git.svg"
        alt="git"
        class="h-7 w-auto object-contain transition-transform group-hover:scale-110 opacity-60"
        width={30}
        height={30}
      />
      <span class="text-lg font-medium text-[var(--white-icon)]"> Git </span>
    </div><div
      class="flex items-center gap-2 group transition-all duration-300"
    >
      <Image
        src="/svg/supabase.svg"
        alt="supabase"
        class="h-7 w-auto object-contain transition-transform group-hover:scale-110 opacity-60"
        width={30}
        height={30}
      />
      <span class="text-lg font-medium text-[var(--white-icon)]">
        Supabase
      </span>
    </div><div
      class="flex items-center gap-2 group transition-all duration-300"
    >
      <Image
        src="/svg/mysql.svg"
        alt="mysql"
        class="h-7 w-auto object-contain transition-transform group-hover:scale-110 opacity-60"
        width={30}
        height={30}
      />
      <span class="text-lg font-medium text-[var(--white-icon)]"> Mysql </span>
    </div><div
      class="flex items-center gap-2 group transition-all duration-300"
    >
      <Image
        src="/svg/bash.svg"
        alt="bash"
        class="h-7 w-auto object-contain transition-transform group-hover:scale-110 opacity-60"
        width={30}
        height={30}
      />
      <span class="text-lg font-medium text-[var(--white-icon)]"> Bash </span>
    </div>
  </div>
</div>
